# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Django-specific
# *.sqlite3
# db.sqlite3
media/
static/
.env
.env.*

# Virtual env
venv/
env/
ENV/

# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
